


<form method="post" action="@Url.Action("Register", "Auth")">
    <div class="form-group">
        <label for="userName">User Name</label>
        <input name="userName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input name="email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" class="form-control" />
    </div>
    <div class="form-group">
        <label for="role">Role</label>
        <input name="role" class="form-control" />
    </div>
    <button type="submit">Submit</button>
</form>
