@{
    Layout = "_adminLayout";

}

@using Microsoft.AspNetCore.Identity

@model IEnumerable<IdentityUser>
@{
    UserManager<IdentityUser> _userManager = ViewBag.userManager;
}






<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hoverable Table</h4>
            <p class="card-description">
                Add class <code>.table-hover</code>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>E-Mail</th>
                            <th>Role(s)</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (IdentityUser item in Model)
                        {
                            <tr>
                                <td>@item.UserName</td>
                                <td>@item.Email</td>
                                <td>
                                    @foreach (var role in await _userManager.GetRolesAsync(item))
                                    {
                                        <label class="badge badge-outline-danger"> @role </label> Write("&nbsp;");

                                    }
                                   
                                </td>
                                <td class="text-danger">

                                    <button id="@item.Id" type="button" class=" btn-outline-success btn btn-sm btn-icon-text">
                                        <i class="ti-pencil" style="margin-left: -2px;"></i>
                                    </button>

                                    <button id="@item.Id" type="button" class=" btn-outline-danger btn btn-sm btn-icon-text">
                                        <i class="ti-trash" style="margin-left: -2px;"></i>
                                    </button>
                                </td>


                            </tr>

                        }
                        <tr>
                            <td>Jacob</td>
                            <td>Photoshop</td>
                            <td>
                                <label class="badge badge-outline-danger">Admin</label> &nbsp;
                                <label class="badge badge-outline-primary">accountant</label>&nbsp;
                                <label class="badge badge-outline-success">Software</label>&nbsp;
                                <label class="badge badge-outline-secondary">User</label> &nbsp;
                            </td>
                            <td class="text-danger">

                                <button type="button"
                                        class=" btn-outline-success btn btn-sm btn-icon-text">
                                    <i class="ti-pencil" style="margin-left: -2px;"></i>
                                </button>

                                <button type="button"
                                        class=" btn-outline-danger btn btn-sm btn-icon-text">
                                    <i class="ti-trash" style="margin-left: -2px;"></i>
                                </button>
                            </td>


                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>