@{
    Layout = "_adminLayout";

}

@using Microsoft.AspNetCore.Identity


@model List<Domain.UserWithRoles>

@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

@using Presentation.Controllers



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Users</h4>
            <p class="card-description">
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>E-Mail</th>
                            <th>Role(s)</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>



                        @foreach (Domain.UserWithRoles item in Model)
                        {
                            <tr>
                                <td>@item.User.UserName</td>
                                <td>@item.User.Email</td>
                                <td>


                                    @foreach (var role in item.Roles)
                                    {
                                        <label class="badge badge-outline-@{
                                            Write(
                                                role == "Admin" ? "danger" : 
                                                    role == "Accountant" ? "primary" :
                                                        role == "Software" ? "success" :
                                                            role == "User" ? "secondary" : 
                                                "info" 
                                                
                                                );
                                        } ">
                                            @role
                                        </label>
                                        WriteLiteral("&nbsp;");
                                    }



                                </td>
                                <td class="text-danger">

                                    <a href="/Admin/EditUser/@item.User.Id" target="_blank" type="button" class=" btn-outline-success btn btn-sm btn-icon-text">
                                        <i class="ti-pencil" style="margin-left: -2px;"></i>
                                    </a>

                                    <a href="/Admin/DeleteUser/@item.User.Id" type="button" class=" btn-outline-danger btn btn-sm btn-icon-text">
                                        <i class="ti-trash" style="margin-left: -2px;"></i>
                                    </a>
                                </td>


                            </tr>

                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>